*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  font-family: "DIN", sans-serif;
  font-weight: 300;
  color: #000000;
  text-decoration-color: #fff;
  cursor: pointer;
  -webkit-transition: text-decoration-color 0.3s ease-in-out;
  transition: text-decoration-color 0.3s ease-in-out;
}
a:hover {
  text-decoration-color: #000;
}

.box {
    /*Test animation*/
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}

.btn {
  font-family: "DIN", sans-serif;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #5B6460;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.btn:hover {
  background-color: #808E88;
}

@font-face {
  font-family: "DIN";
  src: url "../fonts/dinpro_light.otf" format "otf", url "../fonts/dinpro_medium.otf" format "otf";
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #5B6460;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid;
}

.header_inner {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.index_link {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.index_link:hover {
  background-color: #333333;
}
.index_link:hover path {
  fill: #fff;
}

@media (max-width: 900px) {
  .header_inner {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .header_inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.burger_menu {
  display: none;
}

.btn_header {
  width: 200px;
  height: 60px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .btn_header {
    display: none;
  }
  .nav {
    display: none;
    text-align: center;
    background-color: #fff;
  }
  .nav .nav-link {
    display: block;
    font-size: 25px;
  }
  .nav.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
  }
  .burger_menu {
    width: 30px;
    height: 21px;
    display: block;
    position: fixed;
    top: 42px;
    right: 50px;
    z-index: 10000;
  }
  .burger_menu span {
    position: absolute;
    top: 9.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5b6460;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger_menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #5b6460;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger_menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5b6460;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger_menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger_menu.active::before {
    height: 2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger_menu.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}
.hero {
  width: 100%;
  position: relative;
}

.hero_img {
  width: 100%;
}

.hero_text_block {
  position: absolute;
  top: 95px;
  right: 60px;
}

.hero_title {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
}

.hero_text {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  color: #fff;
}

.button_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -35px;
  left: 145px;
}

.main_btn {
  width: 264px;
  height: 100px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1px;
}

.price {
  width: 120px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  background-color: #E9ECE0;
}
.price p {
  font-family: "DIN", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #333333;
}
.price p:last-child {
  text-align: right;
}

@media (max-width: 1280px) {
  .hero_title {
    font-size: 55px;
  }
}
@media (max-width: 900px) {
  .hero_text_block {
    top: 30px;
  }
  .hero_title {
    font-size: 40px;
  }
  .main_btn {
    width: 225px;
    height: 75px;
    font-size: 16px;
  }
  .price {
    height: 75px;
    font-size: 20px;
    line-height: 15px;
  }
}
@media (max-width: 768px) {
  .hero_text_block {
    right: 10px;
  }
  .hero_text {
    font-size: 16px;
  }
  .button_div {
    left: 70px;
  }
}
@media (max-width: 480px) {
  .hero_text_block {
    top: 5px;
  }
  .hero_title {
    font-size: 25px;
  }
  .hero_text {
    font-size: 14px;
  }
  .button_div {
    bottom: -25px;
    left: 25px;
  }
  .main_btn {
    width: 150px;
    height: 55px;
    font-size: 14px;
  }
  .price {
    height: 55px;
  }
}
.cabins {
  margin: 145px 0 150px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_block {
  width: 50%;
  height: auto;
}

.cabins_img_block {
  width: 50%;
  height: auto;
}
.cabins_img_block img {
  width: 100%;
}

.text_block_inner {
  width: 465px;
  margin: 0 auto;
}

.cabins_text {
  margin: 50px 0 15px;
}

.cabins_gallery {
  margin-bottom: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cabins_gallery img {
  width: 32%;
}

@media (max-width: 889.98px) {
  .cabins {
    margin-bottom: 100px;
  }
  .text_block_inner {
    width: 350px;
  }
  .cabins_text {
    margin-top: 25px;
  }
}
@media (max-width: 730px) {
  .cabins {
    margin-bottom: 50px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text_block {
    width: 100%;
    margin-bottom: 20px;
  }
  .text_block_inner {
    width: 100%;
  }
  .cabins_img_block {
    width: 100%;
  }
  .cabins_gallery {
    margin-bottom: 100px;
  }
}
.the_forest {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E9ECE0;
}
.the_forest a {
  text-decoration-color: #E9ECE0;
}
.the_forest a:hover {
  text-decoration-color: #000;
}

.map {
  width: 50%;
  height: 100%;
}

@media (max-width: 730px) {
  .the_forest {
    padding: 20px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    width: 100%;
    height: 350px;
  }
}
.facilities {
  width: 100%;
  height: auto;
  padding: 150px 20px 126px;
  text-align: center;
  background-color: #5B6460;
}
.facilities h1 {
  margin-bottom: 100px;
  font-weight: 300;
  color: #fff;
}
.facilities p {
  color: #fff;
}

.facilities_inner {
  margin: 0 auto;
  width: 830px;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.facilities_block {
  width: 25%;
  margin-bottom: 80px;
}

@media (max-width: 900px) {
  .facilities_inner {
    width: 600px;
  }
}
@media (max-width: 730px) {
  .facilities h1 {
    margin-bottom: 65px;
  }
  .facilities_inner {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .facilities_inner {
    height: auto;
  }
  .facilities_block {
    width: 50%;
  }
}
.about_us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about_us_img {
  width: 50%;
}

.circle_link {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #5B6460;
  text-decoration: none;
}
.circle_link p {
  font-family: "DIN", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
}
.circle_link:hover {
  background-color: #E9ECE0;
}
.circle_link:hover p {
  color: #333333;
}

@media (max-width: 730px) {
  .about_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_us_img {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .about_us_img {
    height: 385px;
  }
}
.stay_in_touch {
  width: 100%;
  padding: 150px 20px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stay_in_touch_inner {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stay_in_touch_link {
  width: 385px;
}
.stay_in_touch_link a {
  display: block;
  text-decoration: none;
}
.stay_in_touch_link p {
  margin: 50px 0 20px;
}

.messengers {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
.messengers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5B6460;
  opacity: 0.8;
}
.messengers a:hover {
  opacity: 1;
}

.stay_in_touch_btn {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.touch_btn {
  width: 264px;
  height: 100px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1px;
}

.touch_price {
  width: 120px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  background-color: #E9ECE0;
}
.touch_price p {
  font-family: "DIN", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #333333;
}
.touch_price p:last-child {
  text-align: right;
}

@media (max-width: 730px) {
  .stay_in_touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stay_in_touch_inner {
    width: 100%;
    margin-bottom: 30px;
  }
  .stay_in_touch_link {
    text-align: center;
  }
  .messengers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .stay_in_touch_btn {
    width: 100%;
  }
}
.footer {
  width: 100%;
  padding: 100px 20px;
  background-color: #5B6460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_block {
  width: 50%;
}

.footer_inner {
  margin: 0 auto;
  width: 428px;
}
.footer_inner p {
  color: #fff;
}

.footer_title {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.input_block {
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input_block .input {
  width: 92%;
  padding: 5px 0;
  border: none;
  outline: none;
  font-family: "DIN", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background-color: #5B6460;
}
.input_block .footer_btn {
  width: 8%;
  padding: 0;
  border: 0;
  background-color: #5B6460;
  opacity: 0.8;
  cursor: pointer;
}
.input_block .footer_btn:hover {
  opacity: 1;
}

.footer_link {
  width: 517px;
}

.footer_link_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}
.footer_link_inner a {
  font-size: 14px;
  color: #fff;
  text-decoration-color: #5B6460;
}
.footer_link_inner a:hover {
  text-decoration-color: #fff;
}

.card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1050px) {
  .footer_link {
    margin: 0 auto;
    width: 320px;
  }
  .footer_link_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 900px) {
  .footer_inner {
    width: 330px;
  }
}
@media (max-width: 730px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_block {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .footer_inner {
    width: 100%;
  }
  .footer_link {
    width: 100%;
  }
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.arrows_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  position: absolute;
  bottom: 85px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slick-arrow {
  width: 33px;
  height: 17px;
  font-size: 0;
  cursor: pointer;
  padding: none;
  outline: none;
  border: none;
  background: none;
}

.slick-prev {
  background-image: url(/media/logo/arrowback.svg);
}

.slick-next {
  background-image: url(/media/logo/arrownext.svg);
}

.slick-dots {
  list-style: none;
  position: absolute;
  top: 95px;
}

.slick-dots button {
  width: 1.5px;
  height: 60px;
  background-color: #d3d3d3;
  -webkit-transition: 0.2s background linear;
  transition: 0.2s background linear;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

@media (max-width: 715px) {
  .slick-dots {
    top: 30px;
  }
  .slick-dots button {
    height: 30px;
  }
}
@media (max-width: 430px) {
  .arrows_block {
    bottom: 42px;
  }
  .slick-dots button {
    height: 18px;
  }
}
.hunt_main {
  width: 100%;
  height: 350px;
  background-color: #333333;
  position: relative;
}
.hunt_main img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.hunt_main h1 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.click_link {
  margin: 50px 30px 50px 0;
  display: inline-block;
  text-decoration: underline;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  cursor: pointer;
}

.hunt_text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #333333;
}

.hunt_text.hiden {
  display: none;
}

.hunt_text.hideen {
  display: none;
}

.hunt_text.hideen.show {
  display: block;
}

.container_hunt {
  margin: 150px auto;
  width: 79.5%;
}

.outside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 138px;
}

.img_block {
  position: relative;
}

.img_slider {
  width: 546px;
  height: 478px;
}
.img_slider .slick-prev {
  position: absolute;
  top: 105%;
}
.img_slider .slick-next {
  position: absolute;
  top: 105%;
  left: 60px;
}

.inside_text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #333333;
}

.inside_text.hiden {
  display: none;
}

.inside_text.third {
  display: none;
}

.inside_text.hideen {
  display: none;
}

.inside_text.hideen.show {
  display: block;
}

.inside_text.third.show {
  display: block;
}

.practical_text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  color: #333333;
}

.practical_text.hideen {
  display: none;
}

.practical_text.hiden {
  display: none;
}

.practical_text.hideen.show {
  display: block;
}

@media (max-width: 1230px) {
  .container_hunt {
    width: 95%;
  }
  .click_link {
    margin: 30px 20px 25px 0;
  }
  .outside {
    gap: 60px;
  }
}
@media (max-width: 900px) {
  .img_slider {
    width: 480px;
    height: 425px;
  }
  .img_slider img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .outside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .outside_textblock {
    text-align: center;
  }
  .outside.inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .hunt_main {
    height: 200px;
  }
  .hunt_main h1 {
    font-size: 50px;
  }
  .img_block {
    width: 100%;
  }
  .img_block .img_slider {
    width: 100%;
    height: auto;
  }
  .img_block .img_slider_item {
    width: 100%;
  }
  .img_block .img_slider_item .outside_img {
    width: 100%;
  }
}
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.location p {
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

.subtitle_area {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-style: italic;
  color: #5B6460;
}

.outside_img {
  width: 546px;
  height: 478px;
}

.map_area {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.text_map {
  text-align: center;
  margin: auto;
  width: 50%;
  font-size: 40px;
  line-height: 56px;
  font-style: italic;
}

.map_img {
  text-align: center;
  width: 50%;
}

.area_title {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .map_area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .map_area .map_img {
    width: 100%;
  }
}
.booking_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  position: relative;
}

.booking_title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e9ece0;
  margin: 30px 0 30px 0;
}

.booking_left {
  width: 50%;
}

.chose_service {
  margin-bottom: 100px;
}

.service_block {
  margin-bottom: 24px;
}

.service_title {
  width: 100%;
  height: 70px;
  background-color: #E9ECE0;
  padding-left: 78px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service_title span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #333333;
}

.service_inner {
  padding: 24px;
  background-color: #fcfcfc;
}
.service_inner h1 {
  font-weight: 600;
}

details > summary {
  list-style: none;
}

.details_plus {
  width: 34px;
  height: 34px;
  background: url(../html/media/booking/plus.svg) no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.details_plus.active {
  background: url(../html/media/booking/check.svg) no-repeat;
}

.booking_block {
  margin-bottom: 100px;
}

/*Booking right*/
.container_right {
  width: 50%;
}

.booking_right {
  width: 450px;
  padding: 24px;
  border: 1px solid #000;
  position: sticky;
  top: 100px;
}

.title_block {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.booking_right_title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: #000;
  padding-right: 5px;
  border-right: 0.8px solid #5B6460;
}

.booking_right_subtitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

/*Check menu*/
.check_menu {
  padding: 16px 0;
  margin-bottom: 24px;
  height: 70px;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check_menu_block {
  width: 33.33%;
  padding-left: 10px;
  border-right: 0.8px solid #333333;
}

.check_menu_block:last-child {
  border: none;
}

.check_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.check_number {
  font-size: 14px;
}

.guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking_btn {
  border: none;
  background-color: inherit;
}
.booking_btn:hover {
  cursor: pointer;
}

.booking_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking_price_text {
  font-weight: 400;
}

.discount {
  color: #41906d;
}

.price_line {
  margin: 30px 0;
}

.total_price {
  margin-bottom: 30px;
}

.total {
  font-size: 20px;
  line-height: 18px;
  font-weight: 600;
}

/*aside*/
.aside {
  display: none;
  width: 35px;
  height: 100px;
  padding-left: 5px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99;
}

/*Price btn*/
.price_button_block {
  height: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_coupon {
  height: 100%;
  width: 70%;
  border: 0.8px solid #333333;
  outline: none;
  padding-left: 8px;
}
.input_coupon::-webkit-input-placeholder {
  color: #333333;
}
.input_coupon::-moz-placeholder {
  color: #333333;
}
.input_coupon:-ms-input-placeholder {
  color: #333333;
}
.input_coupon::-ms-input-placeholder {
  color: #333333;
}
.input_coupon::placeholder {
  color: #333333;
}

.price_btn {
  height: 100%;
  width: 30%;
}

.book_btn {
  width: 100%;
  height: 60px;
}

/*Adaptive*/
@media (max-width: 900px) {
  .booking_box {
    gap: 25px;
  }
  .container_right {
    width: 40%;
  }
  .booking_right {
    width: 345px;
    padding: 18px;
  }
  .title_block, .check_menu {
    margin-bottom: 10px;
  }
  .booking_price {
    gap: 15px;
  }
  .price_line {
    margin: 15px 0;
  }
  .total_price {
    margin-bottom: 15px;
  }
  .price_button_block {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .service_title {
    font-size: 16px;
  }
  .service_title span {
    font-size: 14px;
  }
  .booking_title {
    font-size: 34px;
  }
  .booking_title::after {
    margin: 20px 0;
  }
}
@media (max-width: 600px) {
  .hunt_main {
    height: 280px;
  }
  .container_hunt {
    margin-top: 80px;
  }
  .booking_title {
    font-size: 28px;
  }
  .chose_service {
    margin-bottom: 50px;
  }
  .booking_block {
    margin-bottom: 50px;
  }
  .booking_right {
    width: 265px;
  }
  .title_block {
    gap: 14px;
  }
  .booking_right_title {
    font-size: 16px;
  }
  .booking_right_subtitle {
    font-size: 16px;
  }
  .check_number {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .container_hunt {
    display: block;
  }
  .booking_left {
    width: 100%;
  }
  .booking_right {
    display: none;
  }
  .booking_right.active {
    display: block;
    padding-right: 45px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 4;
  }
  .aside {
    display: block;
    padding-left: 5px;
  }
}
