.footer {
    width: 100%;
    padding: 100px 20px;
    background-color: $secondary;
    
    display: flex;
    align-items:flex-start;
}

.footer_block {
    width: 50%;
}

.footer_inner {
    margin: 0 auto;
    width: 428px;
    
    p {
        color: #fff;
    }
}

.footer_title {
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.input_block {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    
    display: flex;
    
    .input {
        width: 92%;
        padding: 5px 0;
        border: none;
        outline: none;
        
        font-family: $buttonFonts;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        color: #fff;
        background-color: $secondary;
    }
    
    .footer_btn {
        width: 8%;
        padding: 0;
        border: 0;
        
        background-color: $secondary;
        
        opacity: 0.8;
        cursor: pointer;
        
        &:hover {
            opacity: 1;
        }
    }
}

.footer_link {
    width: 517px;
}

.footer_link_inner {
    display: flex;
    gap: 33px;
    
    a {
        font-size: 14px;
        color: #fff;
        text-decoration-color: $secondary;
        
        &:hover {
            text-decoration-color: #fff;
        }
    }
}

.card {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

@media (max-width: 1050px) {
    .footer_link {
        margin: 0 auto;
        width: 320px;
    }
    
    .footer_link_inner {
        flex-direction: column;
    }
    
    .card {
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    .footer_inner {
        width: 330px;
    }
}

@media (max-width: 730px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    
    .footer_block {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .footer_inner {
        width: 100%;
    }
    
    .footer_link {
        width: 100%;
    }
    
    .card {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}




















//Placeholder
::-webkit-input-placeholder { /* WebKit browsers */
    color:  #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:  #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  #fff;
}

input::-webkit-input-placeholder {
    opacity: 1; 
    transition: opacity 0.1s ease;
}
input::-moz-placeholder {
    opacity: 1; 
    transition: opacity 0.1s ease;
}
input:-moz-placeholder {
    opacity: 1; 
    transition: opacity 0.1s ease;
}
input:-ms-input-placeholder {
    opacity: 1; 
    transition: opacity 0.1s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0; 
    transition: opacity 0.1s ease;
}
input:focus::-moz-placeholder {
    opacity: 0; 
    transition: opacity 0.1s ease;
}
input:focus:-moz-placeholder {
    opacity: 0; 
    transition: opacity 0.1s ease;
}
input:focus:-ms-input-placeholder {
    opacity: 0; 
    transition: opacity 0.1s ease;
}



