.hero {
    width: 100%;
    
    position: relative;
}

.hero_img {
        width: 100%;
}

.hero_text_block {
    position: absolute;
    top: 95px;
    right: 60px; 
}

.hero_title {
    font-size: 70px;
    font-weight: 300;

    color: #fff;
}
    
.hero_text {
    text-align: center;
            
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #fff;
}

//btn

.button_div {
    display: flex;
    align-items: center;
    
    position: absolute;
    bottom: -35px;
    left: 145px;
}

.main_btn {
    width: 264px;
    height: 100px;

    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
}

.price {
    width: 120px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

    background-color: $buttonSecondColor;
    
    p {
        font-family: $buttonFonts;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;

        color: $secondaryGray;
    }
    
    & p:last-child {
        text-align: right;
    }
}


//media
@media (max-width: 1280px) {
    .hero_title {
        font-size: 55px;
    }
}

@media (max-width: 900px) {
    .hero_text_block {
        top: 30px;
    }
    
    .hero_title {
        font-size: 40px;
    }
    
    .main_btn {
        width: 225px;
        height: 75px;
        font-size: 16px;
    }
    
    .price {
        height: 75px;
        font-size: 20px;
        line-height: 15px;
    }
}

@media (max-width: 768px) {
    .hero_text_block {
        right: 10px;
    }
    
    .hero_text {
        font-size: 16px;
    }
    
    .button_div {
        left: 70px;
    }
    
}

@media (max-width: 480px) {
    .hero_text_block {
        top: 5px;
    }
    
    .hero_title {
        font-size: 25px;
    }
    
    .hero_text {
        font-size: 14px;
    }
    
    //btn
    .button_div {
        bottom: -25px;
        left: 25px;
    }
    
    .main_btn {
        width: 150px;
        height: 55px;
        font-size: 14px;
    }
    .price {
        height: 55px;
    }
}


