//nav
.nav {
    display: flex;
    align-items: center;
    
    gap: 36px;
}


//burger_menu
.burger_menu {
    display: none;
}

//btn
.btn_header {
    width: 200px;
    height: 60px;
    
    font-size: 14px;
}
//media
@media (max-width: 900px) {
    .btn_header {
        display: none;
    }
    
    .nav {
    display: none;
    text-align: center;
    
    background-color: #fff;
    
    .nav-link {
        display: block;
        font-size: 25px;
    }
}

    .nav.show {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        
        width: 100%;
        height: 100%;
        
        padding-top: 100px;
        padding-bottom: 10px;
        
        display: flex;
        flex-direction: column;
        gap: 35px;
    }    
    
.burger_menu {
    width: 30px;
    height: 21px;
    
    display: block;
    position: fixed;
    top: 42px;
    right: 50px;
    z-index: 10000;
    
    span {
    position: absolute;
    top: 9.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5b6460;
    transition: all .3s ease;
    }
}

.burger_menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #5b6460;
    transition: all .3s ease;
    }
    
.burger_menu::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5b6460;
    transition: all .3s ease;
    }
    
    
//burger active
    .burger_menu.active span {
        transform: scale(0);
    }
    .burger_menu.active::before{
        height: 2px;
        transform: rotate(45deg);
        top: 9px;
    }
    
    .burger_menu.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    
    
}


