.arrows_block {
    display: flex;
    gap: 45px;
    
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-arrow {
    width: 33px;
    height: 17px;
    font-size: 0;
    
    cursor: pointer;
    
    padding: none;
    outline: none;
    border: none;
    background: none;
}

.slick-prev {
    background-image: url(/media/logo/arrowback.svg);
}

.slick-next {
    background-image: url(/media/logo/arrownext.svg);
}

//Slick Dots
.slick-dots {
    list-style: none;
    
    position: absolute;
    top: 95px;
}

.slick-dots button {
    width: 1.5px;
    height: 60px;
    background-color: #d3d3d3;
    
    transition: 0.2s background linear;
    
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
}

.slick-dots .slick-active button {
    background-color: #fff;
}

@media (max-width: 715px) {
    .slick-dots {
        top: 30px;
    }
    
    .slick-dots button {
        height: 30px;
    }
}

@media (max-width: 430px) {
    .arrows_block {
        bottom: 42px;
    }
    
    .slick-dots button {
        height: 18px;
    }
}