.title {
    font-family: $secondaryFonts;
    font-size: 40px;
    font-weight: 400;
    color: $secondary;

}

.text {
    font-family: $secondaryFonts;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: $primary;
}
