.location {
    display: flex;
    align-items: center;
    gap: 10px;
    
    position: absolute;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    p {
        font-size: 18px;
        color: #fff;
        text-decoration: underline;
    }
}

.subtitle_area {
    margin-top: 50px;
    margin-bottom: 30px;
    
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-style: italic;
    color: $secondary;
}

.outside_img {
    width: 546px;
    height: 478px;
}

//Map Area
.map_area {
    width: 100%;
    
    padding: 0 10px;
    
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.text_map {
    text-align: center;
    
    margin: auto;
    width: 50%;
    
    font-size: 40px;
    line-height: 56px;
    font-style: italic;
    
}
.map_img {
    text-align: center;
    width: 50%;
}

.area_title {
    margin-bottom: 50px;
}


@media (max-width: 768px) {
    .map_area {
        flex-direction: column;
        gap: 15px;

        .map_img {
            width: 100%;
        }
    }
}