.hunt_main {
    width: 100%;
    height: 350px;
    
    background-color: $secondaryGray;
    
    position: relative;
    
    img {
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    
    h1 {
        font-size: 70px;
        font-weight: 300;
        color: #fff;
        
        position: absolute;
        top: 90px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.click_link {
    margin: 50px 30px 50px 0;
    display: inline-block;
    
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    
    cursor: pointer;
}

.hunt_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    color: $secondaryGray;

}
//hiden text
.hunt_text.hiden {
    display: none;
}

//show text
.hunt_text.hideen {
    display: none;
}


.hunt_text.hideen.show {
    display: block;
}

//outside
.container_hunt {
    margin: 150px auto;
    width: 79.5%;
}

.outside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 138px;
}

//slider
.img_block {
    position: relative;
}

.img_slider {
    width: 546px;
    height: 478px;

    .slick-prev {
        position: absolute;
        top: 105%;

    }

    .slick-next {
        position: absolute;
        top: 105%;
        left: 60px;
    }

}



//inside

.inside_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    color: $secondaryGray;
}

//hiden text
.inside_text.hiden {
    display: none;
}

.inside_text.third {
    display: none;
}

//show text
.inside_text.hideen {
    display: none;
}


.inside_text.hideen.show {
    display: block;
}

.inside_text.third.show {
    display: block;
}

//Practicalities
.practical_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    color: $secondaryGray;
}

.practical_text.hideen {
    display: none;
}

//Practicalities text js

//hiden text
.practical_text.hiden {
    display: none;
}

.practical_text.hideen.show {
    display: block;
}

//Adaptive
@media (max-width: 1230px) {
    .container_hunt {
        width: 95%;
    }
    
    .click_link {
        margin: 30px 20px 25px 0;
    }
    
    .outside {
        gap: 60px;
    }
}

@media (max-width: 900px) {
    .img_slider {
        width: 480px;
        height: 425px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {

    .outside {
        flex-direction: column-reverse;
    }
    
    .outside_textblock {
        text-align: center;
    }
    
    .outside.inside {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hunt_main {
        height: 200px;
        
        h1 {
           font-size: 50px; 
        }
    }

    .img_block {
        width: 100%;
        
        .img_slider {
            width: 100%;
            height: auto;
        }
        
        .img_slider_item {
            width: 100%;
            
            .outside_img {
                width: 100%;
            }
        }
    }
}







